<template name="App_header">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="brand">GATHER</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Study Groups <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a id="view">View Scheduled</a></li>
              <li><a id="create">Create</a></li>
            </ul>
          </li>
          <li><a id="edit-profile">My Profile</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search students" id="search-box">
          </div>
          <button class="btn btn-default" id="search-student">Search</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="greeting">Hi, {{studentFirstName}}!</a></li>
          <li><a id="logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>