$primary-color: #2196f3;
$link-hover-color: darken($primary-color, 15%);
$selected-color: #45bf55;
$selected-hover-color: darken($selected-color, 15%);


.user-panel {
  .panel-heading {
    text-align: center;
  }

  .panel-heading.selected {
    background-color: $selected-color;
  }

  .img-container {
    width: 100%;
    position: relative;
    text-align: center;
    padding-bottom: 10px
  }

  img {
    display: inline-block;
    border: 3px white solid;
    border-radius: 50%;
  }

  p {
    margin: 0;
  }

  .icon-container {
    padding-top: 12px;
    width: 100%;
    text-align: center;

    a {
      margin: 5px;
      padding: 10px;
      border-radius: 50%;
      background-color: $primary-color;
      color: white;
    }

    a:hover {
      background-color: $link-hover-color;
    }

    a.selected {
      background-color: $selected-color;
    }

    a.selected:hover {
      background-color: $selected-hover-color;
    }
  }
}